// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------
.homepage1__main {
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 75vw;
    height: 75vh;
    mix-blend-mode: luminosity;
    z-index: -1;

    @include tablet {
      width: 70vw;
      height: 70vh;
    }


    @include mobile {
      width: 80vw;
      height: 80vh;
      right: -25%;
      bottom: -25%;
    }
  }

  &__section1 {
    margin-top: 23%;
    @include screen-4k {
      margin-top: 10%;

    }
    @include mobile {
      margin-top: 45%;
    }

    h1 {
      font-family: 'Playfair Display SC', serif;
      font-size: xxx-large;
      max-width: 600px;
    }

    p {
      font-family: 'Poppins', sans-serif;
      max-width: 350px;
    }
  }

  &__section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: $white;
    max-width: 45%;
    margin-top: 3rem;
    padding: .5rem;

    @include tablet {
      max-width: 80%;
    }

    @include mobile {
      flex-direction: column;
      width: fit-content;
      justify-content: start;
      align-items: start;
    }

    section {
      p:first-of-type {
        font-family: 'Poppins', sans-serif;
        font-size: large;
        font-weight: 500;
        margin-bottom: 0;
        margin-top: .5rem;
      }

      p:nth-of-type(2n) {
        font-family: 'Poppins', sans-serif;
        font-size: small;
        font-weight: 500;
        color: $primary;
        margin-top: .3rem;
      }
    }

    &__any--section {
      padding: 0 1.5rem .5rem 1.5rem;
      background-color: $primary;
    }

  }
}
