<main class="homepage4__main">
  <section class="homepage4__main__side1">
    <section class="homepage4__main__side1__part1">
      <div>
        <img alt="p4_img1" src="/images/p4_img1.png">
      </div>
      <div>
        <img alt="p4_bg1" src="/images/p4_bg1.png">
      </div>
    </section>
    <section class="homepage4__main__side1__part2">
      <h1>All about young, modern and up-to-date lifestyle</h1>
      <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
        velit mollit. Exercitation</p>
    </section>
  </section>
  <section class="homepage4__main__side2">
    <section class="homepage4__main__side2__part1">
      <h1>Tech-enabled living, is a much better living</h1>
      <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
        velit mollit. Exercitation</p>
    </section>
    <section class="homepage4__main__side2__part2">
      <div>
        <img alt="p4_img2" src="/images/p4_img2.png">
      </div>
      <div>
        <img alt="p4_bg2" src="/images/p4_bg2.png">
      </div>
    </section>
  </section>
</main>
