<main class="homepage5__main">
  <section class="homepage5__main__top">
    <section >
      <img alt="clean" src="/images/clean.png">
      <p>Sanitized & thoroughly cleaned prior to check-in.</p>
    </section>
    <section >
      <img alt="chat" src="/images/chat.png">
      <p>Contactless support through app, phone and email.</p>
    </section>
    <section >
      <img alt="desk" src="/images/desk.png">
      <p>Essential Services can enter only with guest permission.</p>
    </section>
  </section>
  <section class="homepage5__main__bottom">
    <h1>why US</h1>
    <section class="homepage5__main__bottom__sheet">
      <section class="homepage5__main__bottom__sheet__row">
        <div>
          <img alt="clock.png" src="/images/clock.png"/>
          <p>Laundry Service</p>
        </div>
        <div>
          <img alt="monitor.png" src="/images/monitor.png"/>
          <p>HDTV</p>
        </div>
        <div>
          <img alt="bag.png" src="/images/bag.png"/>
          <p>Laundry Service</p>
        </div>
      </section>
      <section class="homepage5__main__bottom__sheet__row">
        <div>
          <img alt="recycle.png" src="/images/recycle.png"/>
          <p>Bi-weekly cleaning</p>
        </div>
        <div>
          <img alt="camera.png" src="/images/camera.png"/>
          <p>Security Camera</p>
        </div>
        <div>
          <img alt="bed.png" src="/images/bed.png"/>
          <p>Comfy Beds</p>
        </div>
      </section>
      <section class="homepage5__main__bottom__sheet__row">
        <div>
          <img alt="laptop.png" src="/images/laptop.png"/>
          <p>Workspaces</p>
        </div>
        <div>
          <img alt="wifi.png" src="/images/wifi.png"/>
          <p>Superfast Wifi</p>
        </div>
        <div>
          <img alt="fingerprint.png" src="/images/fingerprint.png"/>
          <p>Tech Enabled</p>
        </div>
      </section>
    </section>
  </section>
</main>
