<main class="homepage3__main">
  <section class="homepage3__main__side1">
    <div>
      <img alt="p3_img1" src="/images/p3_img1.png">
    </div>
    <div>
      <img alt="p3_img2" src="/images/p3_img2.png">
    </div>
    <div>
      <img alt="p3_img3" src="/images/p3_img3.png">
    </div>
  </section>
  <section class="homepage3__main__side2">
    <h1>Smart living for young professionals</h1>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
      mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua
      dolor do amet sint.</p>
    <button>More About</button>
  </section>
</main>
