<main class="homepage2__main">
  <section class="homepage2__main__top">
    <h2>Featured</h2>
    <section>
      <section>
        <button class="homepage2__main__top__btn homepage2__main__top__btn--active">All</button>
        <button class="homepage2__main__top__btn">Studio</button>
        <button class="homepage2__main__top__btn">1 Bedroom</button>
        <button class="homepage2__main__top__btn">2 Bedroom</button>
      </section>
      <button class="homepage2__main__top__btn--show-more">Show More &#8250;</button>
    </section>
  </section>
  <section class="homepage2__main__bottom">
    <div class="homepage2__main__bottom__card">
      <p class="homepage2__main__bottom__card__title">Available 2nd May 2021</p>
      <img alt="rectangle6_1" src="/images/rectangle6_1.png">
      <div class="homepage2__main__bottom__card__info">
        <span class="homepage2__main__bottom__card__info--loc">
          <img alt="vector" src="/images/vector.png">New Cairo
        </span>
        <span class="homepage2__main__bottom__card__info--size">96<sup>2</sup> Studio</span>
        <p class="homepage2__main__bottom__card__info--subtitle">The Address Serviced Studio</p>
        <p class="homepage2__main__bottom__card__info--price"><b>from EGP 6,000</b> /month + utilites</p>
      </div>
    </div>

    <div class="homepage2__main__bottom__card">
      <p class="homepage2__main__bottom__card__title">Available 2nd May 2021</p>
      <img alt="rectangle6_2" src="/images/rectangle6_2.png">
      <div class="homepage2__main__bottom__card__info">
        <span class="homepage2__main__bottom__card__info--loc">
          <img alt="vector" src="/images/vector.png">New Cairo
        </span>
        <span class="homepage2__main__bottom__card__info--size">96<sup>2</sup> Studio</span>
        <p class="homepage2__main__bottom__card__info--subtitle">The Address Serviced Studio</p>
        <p class="homepage2__main__bottom__card__info--price"><b>from EGP 6,000</b> /month + utilites</p>
      </div>
    </div>

    <div class="homepage2__main__bottom__card">
      <p class="homepage2__main__bottom__card__title">Available 2nd May 2021</p>
      <img alt="rectangle6_3" src="/images/rectangle6_3.png">
      <div class="homepage2__main__bottom__card__info">
        <span class="homepage2__main__bottom__card__info--loc">
          <img alt="vector" src="/images/vector.png">New Cairo
        </span>
        <span class="homepage2__main__bottom__card__info--size">96<sup>2</sup> Studio</span>
        <p class="homepage2__main__bottom__card__info--subtitle">The Address Serviced Studio</p>
        <p class="homepage2__main__bottom__card__info--price"><b>from EGP 6,000</b> /month + utilites</p>
      </div>
    </div>

  </section>

</main>
