<main class="homepage6__main">
  <section class="homepage6__main__top">
    <section class="homepage6__main__top__left--side">
      <button><span>Which domain should I purchase?</span><img alt="arrow_down" src="/images/arrow_down.png"></button>
      <button><span>Which domain should I purchase?</span><img alt="arrow_down" src="/images/arrow_down.png"></button>
      <button><span>Which domain should I purchase?</span><img alt="arrow_down" src="/images/arrow_down.png"></button>
      <button><span>Which domain should I purchase?</span><img alt="arrow_down" src="/images/arrow_down.png"></button>
    </section>
    <section class="homepage6__main__top__right--side">
      <h1>Frequently</h1>
      <h1>Asked Questaions</h1>
      <button>Show More Questions</button>
    </section>
  </section>
  <footer class="homepage6__main__footer">
    <div class="homepage6__main__footer__body">
      <div class="homepage6__main__footer__body--part1">
        <span class="header__logo">
          LOGO
        </span>
        <p>Smart living for young professionals.</p>
      </div>

      <div class="homepage6__main__footer__body--part2">
        <h4>ABOUT</h4>
        <button>Spaces</button>
        <button>About us</button>
        <button>Become a Partner</button>
        <button>Contact</button>
      </div>

      <div class="homepage6__main__footer__body--part2">
        <h4>NESTS</h4>
        <button>Nests in New Cairo</button>
        <button>Nests in Shikeh Zayed</button>
        <button>Nests in Gouna</button>
        <button>Nests in Maadi</button>
      </div>
    </div>

    <div class="homepage6__main__footer__tail">
      <p>Copyright © 2020.. All rights reserved.</p>
      <div>
        <img alt="facebook" src="/images/facebook.png">
        <img alt="twitter.png" src="/images/twitter.png">
        <img alt="instagram.png" src="/images/instagram.png">
      </div>
    </div>
  </footer>
</main>
