<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>LOGO</title>
  <meta name="description" content="">
  <%= require('html-loader!./partials/head.html') %>
</head>
<body class="homepage1__body">
<%= require('html-loader!./partials/browserupgrade.html') %>
<%= require('html-loader!./partials/header.html') %>
<%= require('html-loader!./partials/homepage1.html') %>
<%= require('html-loader!./partials/homepage2.html') %>
<%= require('html-loader!./partials/homepage3.html') %>

</body>
</html>
